n8n/workflows/daily_news_wf.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "30 0 * * *"
                        }
                    ]
                }
            },
            "id": "5d49e511-9c24-46b7-ad8b-717ed237b6c7",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                2272,
                1152
            ]
        },
        {
            "parameters": {
                "url": "https://news.ycombinator.com/rss",
                "options": {}
            },
            "id": "caddcd31-368e-4248-b5f0-387c92e28756",
            "name": "Hacker News RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                2512,
                672
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://vnexpress.net/rss/tin-moi-nhat.rss",
                "options": {}
            },
            "id": "785ae4a5-b662-4bcd-abae-079b059ed7ea",
            "name": "VNExpress RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                2512,
                864
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://techcrunch.com/feed/",
                "options": {}
            },
            "id": "ab61fc44-bce9-4101-b196-69970a0ec2cd",
            "name": "AI & Robotics News RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                2512,
                1040
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "=https://api.openweathermap.org/data/2.5/weather?q=Hanoi,VN&appid={{$env.OPENWEATHER_API_KEY}}&units=metric",
                "options": {}
            },
            "id": "d40030de-5230-40ac-b9a6-895f10a67eae",
            "name": "Hanoi Weather",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2512,
                1216
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://www.reddit.com/api/v1/access_token",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Basic {{ Buffer.from($env.REDDIT_CLIENT_ID + ':' + $env.REDDIT_CLIENT_SECRET).toString('base64') }}"
                        },
                        {
                            "name": "User-Agent",
                            "value": "n8n-daily-news-bot/1.0"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "grant_type",
                            "value": "client_credentials"
                        }
                    ]
                },
                "options": {}
            },
            "id": "86c8db27-5306-4d0e-a2c1-bda0d47897dc",
            "name": "Reddit OAuth2 Token",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2512,
                1392
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://oauth.reddit.com/r/devops+kubernetes+MachineLearning+robotics+selfhosted/hot?limit=10",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Reddit OAuth2 Token').first().json.access_token }}"
                        },
                        {
                            "name": "User-Agent",
                            "value": "n8n-daily-news-bot/1.0"
                        }
                    ]
                },
                "options": {}
            },
            "id": "3211227a-b627-40bb-a061-525a7f49ea13",
            "name": "Reddit Fetch Posts",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2752,
                1392
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json;\nconst posts = (data?.data?.children || []).slice(0, 5);\nconst items = posts.map(post => ({\n  json: {\n    title: post.data.title,\n    link: `https://reddit.com${post.data.permalink}`,\n    score: post.data.score,\n    subreddit: post.data.subreddit\n  }\n}));\nreturn items.length ? items : [{ json: {} }];"
            },
            "id": "497df56a-21c0-4ab8-bfe7-828365db33c4",
            "name": "Reddit Parse & Limit 5",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2992,
                1392
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.exa.ai/search",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.EXA_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ query: 'devops kubernetes robotics LLM AI tools trending', numResults: 5, type: 'neural', includeDomains: ['twitter.com', 'x.com'], contents: { text: { maxCharacters: 200 } } }) }}",
                "options": {}
            },
            "id": "0d31d966-4f5a-4488-ba01-216de416b91d",
            "name": "X Search via Exa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2512,
                1584
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://feeds.arstechnica.com/arstechnica/technology-lab",
                "options": {}
            },
            "id": "80391236-753f-48f3-a0d9-8693ff2184fb",
            "name": "Ars Technica RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                2512,
                1760
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://ictnews.vn/rss/",
                "options": {}
            },
            "id": "90520a49-d951-43dd-b32a-1699edbded32",
            "name": "ICTNews RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                2512,
                1936
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "limit",
                "maxItems": 5
            },
            "id": "ab4a83ac-1b0a-4b0e-8d49-7c9e2b8c9e94",
            "name": "Limit HN to 5",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3.1,
            "position": [
                2752,
                672
            ]
        },
        {
            "parameters": {
                "operation": "limit",
                "maxItems": 5
            },
            "id": "b55b814a-cac5-483a-acba-d27d3de40290",
            "name": "Limit VNExpress to 5",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3.1,
            "position": [
                2752,
                864
            ]
        },
        {
            "parameters": {
                "operation": "limit",
                "maxItems": 5
            },
            "id": "b2c45bff-e19d-46f0-b0b3-78b83da0541c",
            "name": "Limit AI News to 5",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3.1,
            "position": [
                2752,
                1040
            ]
        },
        {
            "parameters": {
                "operation": "limit",
                "maxItems": 5
            },
            "id": "58096a7d-11c1-48b6-b5c9-a607cb0eb849",
            "name": "Limit Ars to 5",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3.1,
            "position": [
                2752,
                1760
            ]
        },
        {
            "parameters": {
                "operation": "limit",
                "maxItems": 5
            },
            "id": "2ed080e0-c096-480e-92f3-6ffb4e6421cd",
            "name": "Limit ICTNews to 5",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3.1,
            "position": [
                2752,
                1936
            ]
        },
        {
            "parameters": {
                "numberInputs": 8
            },
            "id": "82efb29b-3cef-4b77-8cc3-7d57f6f577ee",
            "name": "Wait for All Sources",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                3200,
                1152
            ],
            "notes": "Wait for ALL 8 branches to complete before running Aggregate.\nInput 1: HN | Input 2: VNE | Input 3: AI RSS | Input 4: Weather | Input 5: Reddit | Input 6: Exa | Input 7: Ars | Input 8: ICTNews"
        },
        {
            "parameters": {
                "jsCode": "// Strip continueOnFail error items — they have no title field\nconst valid = (node) => $(node).all().filter(i => i.json.title);\n\nconst hnItems     = valid('Limit HN to 5');\nconst vneItems    = valid('Limit VNExpress to 5');\nconst aiItems     = valid('Limit AI News to 5');\nconst arsItems    = valid('Limit Ars to 5');\nconst ictItems    = valid('Limit ICTNews to 5');\nconst redditItems = valid('Reddit Parse & Limit 5');\nconst weather     = $('Hanoi Weather').first().json;\nconst xItems      = ($('X Search via Exa').first().json.results || []).slice(0, 5);\n\nconst fmtRss = (items) => items.length\n  ? items.map((item, i) => `${i+1}. ${item.json.title} — ${item.json.link}`).join('\\n')\n  : '(No data)';\n\nconst fmtReddit = (items) => items.length\n  ? items.map((item, i) => `${i+1}. [r/${item.json.subreddit}] ${item.json.title} (score: ${item.json.score}) — ${item.json.link}`).join('\\n')\n  : '(No data)';\n\nconst fmtExa = (items) => items.length\n  ? items.map((item, i) => `${i+1}. ${item.title} — ${item.url}\\n   ${(item.text || item.content || '').slice(0, 120)}...`).join('\\n')\n  : '(No data)';\n\nconst temp     = weather.main?.temp                ?? 'N/A';\nconst feels    = weather.main?.feels_like          ?? 'N/A';\nconst desc     = weather.weather?.[0]?.description ?? 'N/A';\nconst humidity = weather.main?.humidity            ?? 'N/A';\nconst wind     = weather.wind?.speed               ?? 'N/A';\nconst weatherText = `Hà Nội: ${desc}, Nhiệt độ: ${temp}°C (cảm giác như ${feels}°C), Độ ẩm: ${humidity}%, Gió: ${wind} m/s`;\n\nconst today = new Date().toLocaleDateString('vi-VN', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n  timeZone: 'Asia/Ho_Chi_Minh'\n});\n\nconst combined =\n  `Ngày: ${today}\\n\\n` +\n  `=== CÔNG NGHỆ TOÀN CẦU (Hacker News) ===\\n${fmtRss(hnItems)}\\n\\n` +\n  `=== CÔNG NGHỆ TOÀN CẦU (Ars Technica) ===\\n${fmtRss(arsItems)}\\n\\n` +\n  `=== AI / ROBOTICS / DEVOPS (TechCrunch) ===\\n${fmtRss(aiItems)}\\n\\n` +\n  `=== CỘNG ĐỒNG REDDIT ===\\n${fmtReddit(redditItems)}\\n\\n` +\n  `=== X / TWITTER (Exa Neural Search) ===\\n${fmtExa(xItems)}\\n\\n` +\n  `=== TIN TRONG NƯỚC (VNExpress) ===\\n${fmtRss(vneItems)}\\n\\n` +\n  `=== TIN TRONG NƯỚC (ICTNews VN) ===\\n${fmtRss(ictItems)}\\n\\n` +\n  `=== THỜI TIẾT HÀ NỘI ===\\n${weatherText}`;\n\nreturn [{ json: { content: combined, date: today } }];"
            },
            "id": "81a70143-2b19-49f0-9647-4c51cab609ce",
            "name": "Aggregate All Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3424,
                1152
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ model: 'anthropic/claude-sonnet-4-20250514', messages: [{ role: 'system', content: 'Bạn là một trợ lý điềm tĩnh và tinh tế. Hãy tóm tắt danh sách tin tức dưới đây bằng tiếng Việt.\\nTrình bày dưới dạng các gạch đầu dòng ngắn gọn, súc tích.\\nChia thành đúng 4 phần với các tiêu đề Markdown sau:\\n\\n## 🌐 Công nghệ Toàn cầu\\n## 🤖 DevOps / AI / Robotics\\n## 🇻🇳 Tin trong nước\\n## 🌤️ Hà Nội hôm nay\\n\\nQuy tắc ngôn ngữ:\\n- Viết bằng tiếng Việt tự nhiên, dễ đọc\\n- Giữ nguyên tiếng Anh cho: tên công nghệ (AI, Kubernetes, DevOps, CI/CD, LLM, Docker, Helm...), tên công ty (Google, OpenAI, Meta...), tên sản phẩm, tên framework, và các thuật ngữ kỹ thuật chưa có từ tiếng Việt phổ biến\\n- Không dịch những từ mà khi dịch sẽ trở nên lạ hoặc khó hiểu\\n- Gộp các tin tương đồng từ Reddit và Twitter/X vào phần DevOps/AI/Robotics\\n- Loại bỏ các tweet/post quảng cáo hoặc không có giá trị thông tin\\n- Mỗi gạch đầu dòng tối đa 2 câu\\n- Kết thúc bằng một câu động lực ngắn bằng tiếng Việt' }, { role: 'user', content: $json.content }], temperature: 0.5, max_tokens: 2000 }) }}",
                "options": {}
            },
            "id": "e8e98ed7-1ea0-4ccc-a9ac-166b8e41efea",
            "name": "AI Summarizer (OpenRouter)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "continueOnFail": true,
            "position": [
                3632,
                1152
            ]
        },
        {
            "parameters": {
                "jsCode": "const raw = $('AI Summarizer (OpenRouter)').first().json;\nconst summary = raw?.choices?.[0]?.message?.content || 'Không thể tạo bản tóm tắt.';\nconst date = $('Aggregate All Data').first().json.date;\nconst header = `📰 *Bản tin hằng ngày — ${date}*\\n${'─'.repeat(35)}\\n\\n`;\nconst footer = `\\n\\n${'─'.repeat(35)}\\n_Tự động bởi n8n · Mỗi ngày lúc 07:30 GMT+7_`;\nreturn [{ json: { message: header + summary + footer } }];"
            },
            "id": "aecf1f9e-b804-40b7-a39d-e42c618d35d6",
            "name": "Format Telegram Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3856,
                1152
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "12c419eb-c330-4d45-8755-a617dea32cea",
            "name": "Send to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                4080,
                1056
            ],
            "webhookId": "0059a55e-066f-4239-b168-9e54dc42ef10"
        },
        {
            "parameters": {
                "sendTo": "={{ $env.GMAIL_TO }}",
                "subject": "=📰 Bản tin hằng ngày — {{ $('Aggregate All Data').first().json.date }}",
                "emailType": "text",
                "message": "={{ $('Format Telegram Message').first().json.message }}",
                "options": {}
            },
            "id": "eaa5571e-2603-4928-b938-d00bf36453ba",
            "name": "Send to Gmail (Optional)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                4080,
                1264
            ],
            "webhookId": "2b1ab7a0-61df-4bc3-a4d3-ad196b062c8a"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Hacker News RSS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "VNExpress RSS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "AI & Robotics News RSS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Hanoi Weather",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Reddit OAuth2 Token",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "X Search via Exa",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Ars Technica RSS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "ICTNews RSS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hacker News RSS": {
            "main": [
                [
                    {
                        "node": "Limit HN to 5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "VNExpress RSS": {
            "main": [
                [
                    {
                        "node": "Limit VNExpress to 5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI & Robotics News RSS": {
            "main": [
                [
                    {
                        "node": "Limit AI News to 5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hanoi Weather": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Reddit OAuth2 Token": {
            "main": [
                [
                    {
                        "node": "Reddit Fetch Posts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reddit Fetch Posts": {
            "main": [
                [
                    {
                        "node": "Reddit Parse & Limit 5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reddit Parse & Limit 5": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 4
                    }
                ]
            ]
        },
        "X Search via Exa": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 5
                    }
                ]
            ]
        },
        "Ars Technica RSS": {
            "main": [
                [
                    {
                        "node": "Limit Ars to 5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ICTNews RSS": {
            "main": [
                [
                    {
                        "node": "Limit ICTNews to 5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit HN to 5": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit VNExpress to 5": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Limit AI News to 5": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Limit Ars to 5": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 6
                    }
                ]
            ]
        },
        "Limit ICTNews to 5": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 7
                    }
                ]
            ]
        },
        "Wait for All Sources": {
            "main": [
                [
                    {
                        "node": "Aggregate All Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate All Data": {
            "main": [
                [
                    {
                        "node": "AI Summarizer (OpenRouter)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Summarizer (OpenRouter)": {
            "main": [
                [
                    {
                        "node": "Format Telegram Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Telegram Message": {
            "main": [
                [
                    {
                        "node": "Send to Telegram",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send to Gmail (Optional)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "dc222e651084865d2369af5756c9e83db41b51cb52656b9f0bcf6e54e53c5b7b"
    }
}