n8n/workflows/daily_news_wf.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 4 * * *"
                        }
                    ]
                }
            },
            "id": "8358a6e0-c3d2-4d74-8556-936b72afd2cb",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                12864,
                6576
            ]
        },
        {
            "parameters": {
                "url": "https://news.ycombinator.com/rss",
                "options": {}
            },
            "id": "935bda9a-2918-4091-af34-f23875d86b7b",
            "name": "Hacker News RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                13104,
                6096
            ],
            "continueOnFail": true,
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "url": "https://vnexpress.net/rss/tin-moi-nhat.rss",
                "options": {}
            },
            "id": "0d7976b1-45eb-470f-b4d6-862919888c89",
            "name": "VNExpress RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                13104,
                6288
            ],
            "continueOnFail": true,
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "url": "https://techcrunch.com/feed/",
                "options": {}
            },
            "id": "25e5f113-2c63-4a64-af84-99164608db98",
            "name": "AI & Robotics News RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                13104,
                6464
            ],
            "continueOnFail": true,
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "query": "devops kubernetes robotics LLM AI tools trending",
                "numResults": 5,
                "additionalFields": {
                    "includeDomains": "twitter.com,x.com"
                },
                "contentsOptions": {},
                "requestOptions": {}
            },
            "id": "b70d4a17-e503-4021-862f-4563d0c3fd12",
            "name": "X Search via Exa",
            "type": "n8n-nodes-exa-official.exa",
            "typeVersion": 1,
            "position": [
                13104,
                6688
            ],
            "credentials": {
                "exaApi": {
                    "id": "xzYYSVYXzfbWLOFN",
                    "name": "Exa account"
                }
            },
            "continueOnFail": true,
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "url": "https://feeds.arstechnica.com/arstechnica/technology-lab",
                "options": {}
            },
            "id": "e30787e9-6cc1-4f04-8482-b553e0e232ed",
            "name": "Ars Technica RSS",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                13104,
                6912
            ],
            "continueOnFail": true,
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "numberInputs": 5
            },
            "id": "6fb83791-3ca4-4ce0-a528-c4d714db04eb",
            "name": "Wait for All Sources",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                13792,
                6576
            ],
            "notes": "Wait for ALL 7 branches to complete before running Aggregate.\nInput 1: HN | Input 2: VNE | Input 3: AI RSS | Input 4: Reddit | Input 5: Exa | Input 6: Ars | Input 7: ICTNews"
        },
        {
            "parameters": {
                "jsCode": "// Pull ALL items from each source — no limits, let AI curate\nconst getAll = (node) => {\n  try { return $(node).all(); } catch(e) { return []; }\n};\n\nconst fmtRss = (items) => items.length\n  ? items.map((item, i) => `${i+1}. ${item.json.title} — ${item.json.link || item.json.url || ''}`).join('\\n')\n  : '(No data)';\n\nconst fmtExa = (items) => {\n  // Exa can return results in different shapes\n  let list = [];\n  if (items.length && items[0]?.json?.results) {\n    list = items[0].json.results;\n  } else {\n    list = items.filter(i => i.json?.url || i.json?.title).map(i => i.json);\n  }\n  return list.length\n    ? list.map((item, i) => `${i+1}. ${item.title || '(no title)'} — ${item.url}\\n   ${(item.text || item.content || item.summary || '').slice(0, 150)}...`).join('\\n')\n    : '(No data)';\n};\n\nconst hnItems  = getAll('Hacker News RSS');\nconst vneItems = getAll('VNExpress RSS');\nconst aiItems  = getAll('AI & Robotics News RSS');\nconst arsItems = getAll('Ars Technica RSS');\nconst exaItems = getAll('X Search via Exa');\n\nconst today = new Date().toLocaleDateString('vi-VN', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n  timeZone: 'Asia/Ho_Chi_Minh'\n});\n\nconst combined =\n  `Ngày: ${today}\\n\\n` +\n  `=== HACKER NEWS (${hnItems.length} items) ===\\n${fmtRss(hnItems)}\\n\\n` +\n  `=== ARS TECHNICA (${arsItems.length} items) ===\\n${fmtRss(arsItems)}\\n\\n` +\n  `=== AI & ROBOTICS / TECHCRUNCH (${aiItems.length} items) ===\\n${fmtRss(aiItems)}\\n\\n` +\n  `=== X / TWITTER via EXA (${exaItems.length} items) ===\\n${fmtExa(exaItems)}\\n\\n` +\n  `=== VNEXPRESS (${vneItems.length} items) ===\\n${fmtRss(vneItems)}`;\n\nreturn [{ json: { content: combined, date: today } }];"
            },
            "id": "19cb50fe-d7e6-48b5-bf0f-1f581badce1e",
            "name": "Aggregate All Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                14016,
                6576
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.content }}",
                "messages": {
                    "messageValues": [
                        {
                            "message": "Bạn là một AI curator tin tức kỹ thuật, đóng vai một kỹ sư senior người Việt có cái nhìn sâu về công nghệ và xu hướng toàn cầu.\n\nTừ danh sách tin tức thô dưới đây, hãy thực hiện 3 việc:\n\n## PHẦN 1 — CHỌN LỌC TIN ĐÁNG ĐỌC\nƯu tiên theo thứ tự:\n1. 🤖 AI / LLM / Machine Learning / Robotics\n2. ⚙️ DevOps / Kubernetes / Cloud / Platform Engineering\n3. 🇻🇳 Tin công nghệ & xã hội Việt Nam (startup, chính sách số, kinh tế, đời sống)\n4. 🌐 Công nghệ & sự kiện toàn cầu nổi bật\n\nBỎ QUA: quảng cáo, click-bait, nội dung không có giá trị thông tin.\n\n## PHẦN 2 — PHÂN TÍCH XU HƯỚNG\nSau phần tin tức, thêm một block phân tích ngắn về những trend đang nổi bật:\n- Xu hướng công nghệ toàn cầu đang diễn ra hôm nay là gì?\n- Việt Nam đang theo kịp hoặc bỏ lỡ xu hướng nào?\n- Điều gì đáng để một kỹ sư / tech professional Việt Nam chú ý?\n\n## PHẦN 3 — TÓM TẮT TOÀN CẢNH\nCuối cùng, viết 1 đoạn văn ngắn (~10 câu) bao quát toàn bộ nội dung hôm nay — bao gồm cả những tin đã bị bỏ qua trong lúc filter. Đây là cái nhìn tổng thể 360° về ngày hôm nay: thế giới đang nói về gì, Việt Nam đang nói về gì, và không khí chung của ngày hôm nay là như thế nào.\n\n---\nXuất ra HTML thuần (chỉ phần body, không có thẻ <html>/<head>/<body>).\n\nCấu trúc output:\n<h2>🤖 AI / Robotics / LLM</h2>\n<ul><li><a href='URL'>Tiêu đề</a> — tóm tắt 1 câu tiếng Việt.</li></ul>\n\n<h2>⚙️ DevOps / Cloud / Platform</h2>\n<ul>...</ul>\n\n<h2>🇻🇳 Việt Nam — Công nghệ & Đời sống</h2>\n<ul>...</ul>\n\n<h2>🌐 Thế giới — Sự kiện Nổi bật</h2>\n<ul>...</ul>\n\n<hr/>\n<h2>📈 Xu hướng & Nhận định hôm nay</h2>\n<p><strong>Toàn cầu:</strong> [2-3 câu về trend tech đang nổi]</p>\n<p><strong>Việt Nam:</strong> [2-3 câu về trend hoặc điểm đáng chú ý tại VN]</p>\n<p><strong>Đáng theo dõi:</strong> [1 điều một kỹ sư nên để mắt tới]</p>\n\n<hr/>\n<h2>🗞️ Tóm tắt Toàn cảnh</h2>\n<p>[Đoạn văn bao quát tất cả — kể cả những gì đã bị lọc bỏ — cho cái nhìn 360° về ngày hôm nay]</p>\n\nGiữ nguyên tiếng Anh cho: tên model AI, framework, công ty, các thuật ngữ."
                        }
                    ]
                },
                "batching": {}
            },
            "id": "c2e8a446-4c7f-49a5-8543-abb6c3e4071f",
            "name": "AI Summarizer (OpenRouter)",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.9,
            "position": [
                14224,
                6576
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "model": "anthropic/claude-sonnet-4.6",
                "options": {
                    "maxTokens": 8000,
                    "temperature": 0.5
                }
            },
            "id": "534b84a9-9d0b-445d-a0f0-0002c271599a",
            "name": "OpenRouter Chat Model (Summarizer)",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                14224,
                6784
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "81Dy2cUby8EE0Pkn",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "qitpydev@gmail.com",
                "subject": "=📰 Bản tin hằng ngày — {{ $('Aggregate All Data').first().json.date }}",
                "message": "={{ '<h1>📰 Bản tin hằng ngày — ' + $('Aggregate All Data').first().json.date + '</h1>' + ($('AI Summarizer (OpenRouter)').first().json.text || '<p>Không thể tạo bản tóm tắt.</p>') }}",
                "options": {}
            },
            "id": "7ac4cc51-7a1d-43ae-b7e6-559df62a1870",
            "name": "Send to Gmail (Optional)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                14672,
                6576
            ],
            "webhookId": "2b1ab7a0-61df-4bc3-a4d3-ad196b062c8a",
            "credentials": {
                "gmailOAuth2": {
                    "id": "yPt7cKZUQk0nbMWm",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "numberInputs": 5
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                13792,
                7040
            ],
            "id": "f8e374d2-9d2c-4d18-ae0b-c600627ef4e6",
            "name": "Wait for all Failures"
        },
        {
            "parameters": {
                "chatId": "-5117715312",
                "text": "🚨 Daily News Workflow Failure 🚨\n\nSome RSS sources or nodes failed to execute successfully. Please check your n8n dashboard for details.",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                14672,
                7168
            ],
            "id": "e64b027c-5771-4d41-81c7-bd7880c3a605",
            "name": "Send a text message",
            "webhookId": "433d69d8-ea3f-4a53-a8ce-815cc06c8307",
            "credentials": {
                "telegramApi": {
                    "id": "JOhVK6KgE9Q4rINV",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Hacker News RSS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "VNExpress RSS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "AI & Robotics News RSS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "X Search via Exa",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Ars Technica RSS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hacker News RSS": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait for all Failures",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "VNExpress RSS": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 1
                    }
                ],
                [
                    {
                        "node": "Wait for all Failures",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "AI & Robotics News RSS": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 2
                    }
                ],
                [
                    {
                        "node": "Wait for all Failures",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "X Search via Exa": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 3
                    }
                ],
                [
                    {
                        "node": "Wait for all Failures",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Ars Technica RSS": {
            "main": [
                [
                    {
                        "node": "Wait for All Sources",
                        "type": "main",
                        "index": 4
                    }
                ],
                [
                    {
                        "node": "Wait for all Failures",
                        "type": "main",
                        "index": 4
                    }
                ]
            ]
        },
        "Wait for All Sources": {
            "main": [
                [
                    {
                        "node": "Aggregate All Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate All Data": {
            "main": [
                [
                    {
                        "node": "AI Summarizer (OpenRouter)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Summarizer (OpenRouter)": {
            "main": [
                [
                    {
                        "node": "Send to Gmail (Optional)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter Chat Model (Summarizer)": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Summarizer (OpenRouter)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for all Failures": {
            "main": [
                [
                    {
                        "node": "Send a text message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "dc222e651084865d2369af5756c9e83db41b51cb52656b9f0bcf6e54e53c5b7b"
    }
}